main {
  width: 25%;
  height: 75vh;
  color: $white;
  form {
    height: 50%;
    color: $white;
  }
  input {
    margin: 5% auto 5% auto;
    padding: 10px 15px;
    width: 90%;
    background-color: $main;
    border: 2px solid $popCol2;
    color: inherit;
  }
  label[for="SAFI"] {
    display: inline-block;
    text-align: center;
  }
  #SAFI {
    display: inline-block;
    width: 10%;
  }
  button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $popCol2;
    border: none;
    padding: 10px 15px;
    color: $white;
  }
}

.ipsum {
  height: 75vh;
  width: 75%;
  overflow: auto;
  background-color: $main;
  padding: 25px;
  color: $white;
  border: 2px solid $popColor;
  p:first-of-type {
    margin-top: 0;
  }
}