main {
  width: 25%;
  height: 75vh;
  form {
    height: 50%;
    color: $white;
  }
  input {
    margin: 0 5% 5% 0;
    width: 90%;
    background-color: $main;
    border: none;
    box-shadow: -2px -2px 2px $popColor, 2px 2px 2px $popColor, 5px 5px $mainDark;
  }
  button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $popCol2;
    border: none;
    padding: 10px 15px;
    color: $white;
    text-shadow: 2px 2px 2px $mainDark;
    box-shadow: 2px 2px 2px $mainDark, -2px -2px 2px $mainDark;
  }
}

.ipsum {
  height: 75vh;
  width: 75%;
  overflow: auto;
  background-color: $main;
  color: $black;
  box-shadow: -5px -5px 10px $popColor, 5px 5px 10px $popColor;
  padding: 25px;
  p:first-of-type {
    margin-top: 0;
  }
}