$font: 'Open Sans Condensed', sans-serif;
$funFont: 'Shadows Into Light Two', cursive;

// $white: #f0f0e2;
// $black: #0d1012;
// $main: #84847f;
// $mainDark: #1b2d2a;
// $popColor: #c97d60;

// $white: #f0f0e2;
// $black: #0d1012;
// $main: #84847f;
// $mainDark: #1b2d2a;
// $popColor: #cd7c30;

$white: #f0f0e2;
$black: #080707;
$main: #364652;
$mainDark: #0b1b33;
$popColor: #6b0f1a;
$popCol2: #31081f;
